INFO  [alembic.runtime.migration] Context impl MSSQLImpl.
INFO  [alembic.runtime.migration] Context impl MSSQLImpl.
INFO  [alembic.runtime.migration] Generating static SQL
INFO  [alembic.runtime.migration] Generating static SQL
INFO  [alembic.runtime.migration] Will assume transactional DDL.
INFO  [alembic.runtime.migration] Will assume transactional DDL.
BEGIN TRANSACTION;

CREATE TABLE dbo.alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

GO

INFO  [alembic.runtime.migration] Running upgrade  -> 20250818_0001, Initial schema based on SQLAlchemy models.
INFO  [alembic.runtime.migration] Running upgrade  -> 20250818_0001, Initial schema based on SQLAlchemy models.
-- Running upgrade  -> 20250818_0001

CREATE TABLE dbo.[Users] (
    [UserID] INTEGER NOT NULL IDENTITY, 
    [FirstName] VARCHAR(100) NOT NULL, 
    [LastName] VARCHAR(100) NOT NULL, 
    [Email] VARCHAR(255) NOT NULL, 
    [HashedPassword] VARCHAR(255) NOT NULL, 
    [DateCreated] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    [LastUpdated] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    [IsActive] BIT NOT NULL DEFAULT 1, 
    [EmailVerified] BIT NOT NULL DEFAULT 0, 
    [LastLogin] DATETIME NULL, 
    [MarkedForDeletion] BIT NOT NULL DEFAULT 0, 
    PRIMARY KEY ([UserID]), 
    UNIQUE ([Email])
);

GO

CREATE TABLE dbo.[UserSession] (
    [SessionID] UNIQUEIDENTIFIER NOT NULL, 
    [UserID] INTEGER NOT NULL, 
    [CreatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    [ExpiresAt] DATETIME NULL, 
    [IsActive] BIT NOT NULL DEFAULT 1, 
    [LastSeen] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    [IPAddress] VARCHAR(45) NULL, 
    [UserAgent] VARCHAR(255) NULL, 
    PRIMARY KEY ([SessionID]), 
    FOREIGN KEY([UserID]) REFERENCES dbo.[Users] ([UserID])
);

GO

CREATE TABLE dbo.[EventType] (
    [EventTypeID] INTEGER NOT NULL IDENTITY, 
    [Name] VARCHAR(100) NOT NULL, 
    [Description] VARCHAR(255) NULL, 
    [CreatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    [UpdatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY ([EventTypeID]), 
    UNIQUE ([Name])
);

GO

CREATE TABLE dbo.[Event] (
    [EventID] INTEGER NOT NULL IDENTITY, 
    [EventTypeID] INTEGER NULL, 
    [UserID] INTEGER NOT NULL, 
    [Name] VARCHAR(255) NOT NULL, 
    [Date] DATETIME NULL, 
    [Code] VARCHAR(32) NOT NULL, 
    [Password] VARCHAR(255) NOT NULL, 
    [CreatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    [LastUpdated] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    [Published] BIT NOT NULL DEFAULT 0, 
    [TermsChecked] BIT NOT NULL DEFAULT 0, 
    PRIMARY KEY ([EventID]), 
    FOREIGN KEY([EventTypeID]) REFERENCES dbo.[EventType] ([EventTypeID]), 
    FOREIGN KEY([UserID]) REFERENCES dbo.[Users] ([UserID]), 
    UNIQUE ([Code])
);

GO

CREATE TABLE dbo.[Theme] (
    [ThemeID] INTEGER NOT NULL IDENTITY, 
    [Name] VARCHAR(100) NOT NULL, 
    [Description] VARCHAR(255) NULL, 
    [ButtonColour1] VARCHAR(16) NULL, 
    [ButtonColour2] VARCHAR(16) NULL, 
    [BackgroundColour] VARCHAR(16) NULL, 
    [BackgroundImage] VARCHAR(255) NULL, 
    [CoverPhotoPath] VARCHAR(255) NULL, 
    [FontFamily] VARCHAR(64) NULL, 
    [TextColour] VARCHAR(16) NULL, 
    [AccentColour] VARCHAR(16) NULL, 
    [CreatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    [UpdatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY ([ThemeID]), 
    UNIQUE ([Name])
);

GO

CREATE TABLE dbo.[EventCustomisation] (
    [EventCustomisationID] INTEGER NOT NULL IDENTITY, 
    [EventID] INTEGER NOT NULL, 
    [WelcomeMessage] VARCHAR(255) NULL, 
    [UploadInstructions] VARCHAR(255) NULL, 
    [ThankYouMessage] VARCHAR(255) NULL, 
    [FooterMessage] VARCHAR(255) NULL, 
    [StorageLimitMessage] VARCHAR(255) NULL, 
    [ButtonColour1] VARCHAR(16) NULL, 
    [ButtonColour2] VARCHAR(16) NULL, 
    [BackgroundColour] VARCHAR(16) NULL, 
    [BackgroundImage] VARCHAR(255) NULL, 
    [CoverPhotoPath] VARCHAR(255) NULL, 
    [ThemeID] INTEGER NULL, 
    [FontFamily] VARCHAR(64) NULL, 
    [TextColour] VARCHAR(16) NULL, 
    [AccentColour] VARCHAR(16) NULL, 
    [CreatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    [UpdatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY ([EventCustomisationID]), 
    FOREIGN KEY([EventID]) REFERENCES [Event] ([EventID]), 
    FOREIGN KEY([ThemeID]) REFERENCES dbo.[Theme] ([ThemeID])
);

GO

CREATE TABLE dbo.[EventStorage] (
    [EventStorageID] INTEGER NOT NULL IDENTITY, 
    [EventID] INTEGER NOT NULL, 
    [StoragePath] VARCHAR(255) NOT NULL, 
    [StorageLimitMB] INTEGER NOT NULL, 
    [CurrentUsageMB] INTEGER NOT NULL DEFAULT 0, 
    [LastUploadDateTime] DATETIME NULL, 
    [IsLocked] BIT NOT NULL DEFAULT 0, 
    [CreatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    [UpdatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY ([EventStorageID]), 
    FOREIGN KEY([EventID]) REFERENCES [Event] ([EventID])
);

GO

CREATE TABLE dbo.[GuestSession] (
    [GuestID] INTEGER NOT NULL IDENTITY, 
    [EventID] INTEGER NOT NULL, 
    [DeviceType] VARCHAR(64) NULL, 
    [GuestEmail] VARCHAR(255) NULL, 
    [CreatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    [UploadCount] INTEGER NOT NULL DEFAULT 0, 
    [TermsChecked] BIT NOT NULL DEFAULT 0, 
    PRIMARY KEY ([GuestID]), 
    FOREIGN KEY([EventID]) REFERENCES [Event] ([EventID])
);

GO

CREATE TABLE dbo.[FileMetadata] (
    [FileMetadataID] INTEGER NOT NULL IDENTITY, 
    [EventID] INTEGER NOT NULL, 
    [GuestID] INTEGER NULL, 
    [FileName] VARCHAR(255) NOT NULL, 
    [FileType] VARCHAR(64) NOT NULL, 
    [FileSize] INTEGER NOT NULL, 
    [CapturedDateTime] DATETIME NULL, 
    [GPSLat] VARCHAR(32) NULL, 
    [GPSLong] VARCHAR(32) NULL, 
    [Checksum] VARCHAR(128) NULL, 
    [UploadDate] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    [Tags] VARCHAR(255) NULL, 
    [Deleted] BIT NOT NULL DEFAULT 0, 
    [CreatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    [UpdatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY ([FileMetadataID]), 
    FOREIGN KEY([EventID]) REFERENCES [Event] ([EventID]), 
    FOREIGN KEY([GuestID]) REFERENCES dbo.[GuestSession] ([GuestID])
);

GO

CREATE TABLE dbo.[EventPlan] (
    [PlanID] INTEGER NOT NULL IDENTITY, 
    [Name] VARCHAR(100) NOT NULL, 
    [Code] VARCHAR(32) NOT NULL, 
    [Description] TEXT NULL, 
    [Features] TEXT NULL, 
    [PriceCents] INTEGER NOT NULL, 
    [Currency] VARCHAR(8) NOT NULL DEFAULT 'gbp', 
    [IsActive] BIT NOT NULL DEFAULT 1, 
    [CreatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    [UpdatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY ([PlanID]), 
    UNIQUE ([Code])
);

GO

CREATE TABLE dbo.[Purchase] (
    [PurchaseID] INTEGER NOT NULL IDENTITY, 
    [UserID] INTEGER NOT NULL, 
    [PlanID] INTEGER NOT NULL, 
    [Amount] NUMERIC(10, 2) NOT NULL, 
    [Currency] VARCHAR(8) NOT NULL DEFAULT 'GBP', 
    [StripeSessionID] VARCHAR(255) NULL, 
    [StripePaymentIntentID] VARCHAR(255) NULL, 
    [Status] VARCHAR(32) NOT NULL DEFAULT 'pending', 
    [CreatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    [UpdatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY ([PurchaseID]), 
    FOREIGN KEY([UserID]) REFERENCES dbo.[Users] ([UserID]), 
    FOREIGN KEY([PlanID]) REFERENCES dbo.[EventPlan] ([PlanID])
);

GO

CREATE TABLE dbo.[PaymentLog] (
    [LogID] INTEGER NOT NULL IDENTITY, 
    [UserID] INTEGER NULL, 
    [EventType] VARCHAR(64) NOT NULL, 
    [StripeEventID] VARCHAR(255) NULL, 
    [Payload] TEXT NULL, 
    [ErrorMessage] TEXT NULL, 
    [CreatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY ([LogID]), 
    FOREIGN KEY([UserID]) REFERENCES dbo.[Users] ([UserID])
);

GO

INSERT INTO dbo.alembic_version (version_num) OUTPUT inserted.version_num VALUES ('20250818_0001');

GO

INFO  [alembic.runtime.migration] Running upgrade 20250818_0001 -> 20250819_0002, Add IsAdmin flag to Users.
INFO  [alembic.runtime.migration] Running upgrade 20250818_0001 -> 20250819_0002, Add IsAdmin flag to Users.
-- Running upgrade 20250818_0001 -> 20250819_0002

ALTER TABLE dbo.[Users] ADD [IsAdmin] BIT NOT NULL DEFAULT 0;

GO

UPDATE dbo.alembic_version SET version_num='20250819_0002' WHERE dbo.alembic_version.version_num = '20250818_0001';

GO

INFO  [alembic.runtime.migration] Running upgrade 20250819_0002 -> 20250819_0003, Create UserEmailPreference table.
INFO  [alembic.runtime.migration] Running upgrade 20250819_0002 -> 20250819_0003, Create UserEmailPreference table.
-- Running upgrade 20250819_0002 -> 20250819_0003

CREATE TABLE dbo.[UserEmailPreference] (
    [PreferenceID] INTEGER NOT NULL IDENTITY, 
    [UserID] INTEGER NOT NULL, 
    [MarketingOptIn] BIT NOT NULL DEFAULT 0, 
    [ProductUpdatesOptIn] BIT NOT NULL DEFAULT 0, 
    [EventRemindersOptIn] BIT NOT NULL DEFAULT 1, 
    [CreatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    [UpdatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY ([PreferenceID]), 
    FOREIGN KEY([UserID]) REFERENCES dbo.[Users] ([UserID]), 
    CONSTRAINT [UQ_UserEmailPreference_UserID] UNIQUE ([UserID])
);

GO

UPDATE dbo.alembic_version SET version_num='20250819_0003' WHERE dbo.alembic_version.version_num = '20250819_0002';

GO

INFO  [alembic.runtime.migration] Running upgrade 20250819_0003 -> 20250819_0004, Add IsDateLocked and DateLockedAt to Event.
INFO  [alembic.runtime.migration] Running upgrade 20250819_0003 -> 20250819_0004, Add IsDateLocked and DateLockedAt to Event.
-- Running upgrade 20250819_0003 -> 20250819_0004

ALTER TABLE dbo.[Event] ADD [IsDateLocked] BIT NOT NULL DEFAULT 0;

GO

ALTER TABLE dbo.[Event] ADD [DateLockedAt] DATETIME NULL;

GO

UPDATE dbo.alembic_version SET version_num='20250819_0004' WHERE dbo.alembic_version.version_num = '20250819_0003';

GO

INFO  [alembic.runtime.migration] Running upgrade 20250819_0004 -> 20250819_0005, Add EventLockAudit table to track event date locks.
INFO  [alembic.runtime.migration] Running upgrade 20250819_0004 -> 20250819_0005, Add EventLockAudit table to track event date locks.
-- Running upgrade 20250819_0004 -> 20250819_0005

CREATE TABLE dbo.[EventLockAudit] (
    [AuditID] INTEGER NOT NULL IDENTITY, 
    [EventID] INTEGER NOT NULL, 
    [UserID] INTEGER NULL, 
    [LockedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    [ClientIP] VARCHAR(45) NULL, 
    [UserAgent] VARCHAR(255) NULL, 
    [RequestID] VARCHAR(64) NULL, 
    [OldDate] DATETIME NULL, 
    [NewDate] DATETIME NULL, 
    PRIMARY KEY ([AuditID]), 
    FOREIGN KEY([EventID]) REFERENCES [Event] ([EventID]), 
    FOREIGN KEY([UserID]) REFERENCES dbo.[Users] ([UserID])
);

GO

UPDATE dbo.alembic_version SET version_num='20250819_0005' WHERE dbo.alembic_version.version_num = '20250819_0004';

GO

INFO  [alembic.runtime.migration] Running upgrade 20250819_0005 -> 20250819_0006, Add FavoriteFile table and indexes for duplicate detection.
INFO  [alembic.runtime.migration] Running upgrade 20250819_0005 -> 20250819_0006, Add FavoriteFile table and indexes for duplicate detection.
-- Running upgrade 20250819_0005 -> 20250819_0006

CREATE TABLE dbo.[FavoriteFile] (
    [FavoriteID] INTEGER NOT NULL IDENTITY, 
    [UserID] INTEGER NOT NULL, 
    [FileMetadataID] INTEGER NOT NULL, 
    [CreatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY ([FavoriteID]), 
    FOREIGN KEY([UserID]) REFERENCES dbo.[Users] ([UserID]), 
    FOREIGN KEY([FileMetadataID]) REFERENCES dbo.[FileMetadata] ([FileMetadataID])
);

GO

CREATE INDEX [IX_FileMetadata_Event_Checksum] ON dbo.[FileMetadata] ([EventID], [Checksum]);

GO

CREATE UNIQUE INDEX [IX_FavoriteFile_User_File] ON dbo.[FavoriteFile] ([UserID], [FileMetadataID]);

GO

UPDATE dbo.alembic_version SET version_num='20250819_0006' WHERE dbo.alembic_version.version_num = '20250819_0005';

GO

INFO  [alembic.runtime.migration] Running upgrade 20250819_0006 -> 20250819_0007, Add customization columns to EventCustomisation: ButtonStyle, CornerRadius, ShowCover, HeadingSize.
INFO  [alembic.runtime.migration] Running upgrade 20250819_0006 -> 20250819_0007, Add customization columns to EventCustomisation: ButtonStyle, CornerRadius, ShowCover, HeadingSize.
-- Running upgrade 20250819_0006 -> 20250819_0007

ALTER TABLE dbo.[EventCustomisation] ADD [ButtonStyle] VARCHAR(16) NULL;

GO

ALTER TABLE dbo.[EventCustomisation] ADD [CornerRadius] VARCHAR(16) NULL;

GO

ALTER TABLE dbo.[EventCustomisation] ADD [ShowCover] BIT NOT NULL DEFAULT 1;

GO

ALTER TABLE dbo.[EventCustomisation] ADD [HeadingSize] VARCHAR(8) NULL;

GO

UPDATE dbo.alembic_version SET version_num='20250819_0007' WHERE dbo.alembic_version.version_num = '20250819_0006';

GO

INFO  [alembic.runtime.migration] Running upgrade 20250819_0007 -> 20250822_0008_add_theme_audit
INFO  [alembic.runtime.migration] Running upgrade 20250819_0007 -> 20250822_0008_add_theme_audit
-- Running upgrade 20250819_0007 -> 20250822_0008_add_theme_audit

CREATE TABLE dbo.[ThemeAudit] (
    [AuditID] INTEGER NOT NULL IDENTITY, 
    [ThemeID] INTEGER NOT NULL, 
    [UserID] INTEGER NULL, 
    [ChangedAt] DATETIME NULL DEFAULT GETDATE(), 
    [ClientIP] VARCHAR(45) NULL, 
    [UserAgent] VARCHAR(255) NULL, 
    [RequestID] VARCHAR(64) NULL, 
    [Changes] VARCHAR(4000) NULL, 
    PRIMARY KEY ([AuditID]), 
    FOREIGN KEY([ThemeID]) REFERENCES [Theme] ([ThemeID]), 
    FOREIGN KEY([UserID]) REFERENCES dbo.[Users] ([UserID])
);

GO

UPDATE dbo.alembic_version SET version_num='20250822_0008_add_theme_audit' WHERE dbo.alembic_version.version_num = '20250819_0007';

GO

INFO  [alembic.runtime.migration] Running upgrade 20250822_0008_add_theme_audit -> 20250901_0009
INFO  [alembic.runtime.migration] Running upgrade 20250822_0008_add_theme_audit -> 20250901_0009
-- Running upgrade 20250822_0008_add_theme_audit -> 20250901_0009

CREATE TABLE dbo.[EventChecklist] (
    [EventChecklistID] INTEGER NOT NULL IDENTITY, 
    [EventID] INTEGER NOT NULL, 
    [SharedOnce] BIT NOT NULL DEFAULT 0, 
    [CreatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    [UpdatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY ([EventChecklistID]), 
    FOREIGN KEY([EventID]) REFERENCES [Event] ([EventID])
);

GO

ALTER TABLE dbo.[EventChecklist] ADD CONSTRAINT [UQ_EventChecklist_EventID] UNIQUE ([EventID]);

GO

UPDATE dbo.alembic_version SET version_num='20250901_0009' WHERE dbo.alembic_version.version_num = '20250822_0008_add_theme_audit';

GO

INFO  [alembic.runtime.migration] Running upgrade 20250901_0009 -> 20250901_0010, Add ButtonStyle, InputBackgroundColour, DropzoneBackgroundColour to Theme.
INFO  [alembic.runtime.migration] Running upgrade 20250901_0009 -> 20250901_0010, Add ButtonStyle, InputBackgroundColour, DropzoneBackgroundColour to Theme.
-- Running upgrade 20250901_0009 -> 20250901_0010

ALTER TABLE dbo.[Theme] ADD [ButtonStyle] VARCHAR(16) NULL;

GO

ALTER TABLE dbo.[Theme] ADD [InputBackgroundColour] VARCHAR(16) NULL;

GO

ALTER TABLE dbo.[Theme] ADD [DropzoneBackgroundColour] VARCHAR(16) NULL;

GO

UPDATE dbo.alembic_version SET version_num='20250901_0010' WHERE dbo.alembic_version.version_num = '20250901_0009';

GO

INFO  [alembic.runtime.migration] Running upgrade 20250901_0010 -> 20250901_0011, Widen AccentColour columns to length 32 for rgba values.
INFO  [alembic.runtime.migration] Running upgrade 20250901_0010 -> 20250901_0011, Widen AccentColour columns to length 32 for rgba values.
-- Running upgrade 20250901_0010 -> 20250901_0011

ALTER TABLE dbo.[Theme] ALTER COLUMN [AccentColour] VARCHAR(32) NULL;

GO

ALTER TABLE dbo.[EventCustomisation] ALTER COLUMN [AccentColour] VARCHAR(32) NULL;

GO

UPDATE dbo.alembic_version SET version_num='20250901_0011' WHERE dbo.alembic_version.version_num = '20250901_0010';

GO

INFO  [alembic.runtime.migration] Running upgrade 20250901_0011 -> 20250901_0012
INFO  [alembic.runtime.migration] Running upgrade 20250901_0011 -> 20250901_0012
-- Running upgrade 20250901_0011 -> 20250901_0012

CREATE TABLE dbo.[UserDataExportJob] (
    [JobID] INTEGER NOT NULL IDENTITY, 
    [UserID] INTEGER NOT NULL, 
    [Status] VARCHAR(16) NOT NULL DEFAULT 'queued', 
    [CreatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    [UpdatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    [CompletedAt] DATETIME NULL, 
    [ExpiresAt] DATETIME NULL, 
    [FilePath] VARCHAR(500) NULL, 
    [ErrorMessage] TEXT NULL, 
    PRIMARY KEY ([JobID])
);

GO

ALTER TABLE dbo.[UserDataExportJob] ADD CONSTRAINT [FK_UserDataExportJob_User] FOREIGN KEY([UserID]) REFERENCES dbo.[Users] ([UserID]);

GO

UPDATE dbo.alembic_version SET version_num='20250901_0012' WHERE dbo.alembic_version.version_num = '20250901_0011';

GO

INFO  [alembic.runtime.migration] Running upgrade 20250901_0012 -> 20250903_0013, add composite index on FileMetadata (EventID, CapturedDateTime)
INFO  [alembic.runtime.migration] Running upgrade 20250901_0012 -> 20250903_0013, add composite index on FileMetadata (EventID, CapturedDateTime)
-- Running upgrade 20250901_0012 -> 20250903_0013

CREATE INDEX [ix_FileMetadata_EventID_CapturedDateTime] ON [FileMetadata] ([EventID], [CapturedDateTime]);

GO

UPDATE dbo.alembic_version SET version_num='20250903_0013' WHERE dbo.alembic_version.version_num = '20250901_0012';

GO

INFO  [alembic.runtime.migration] Running upgrade 20250903_0013 -> 20250903_0014, create AppErrorLog table
INFO  [alembic.runtime.migration] Running upgrade 20250903_0013 -> 20250903_0014, create AppErrorLog table
-- Running upgrade 20250903_0013 -> 20250903_0014

CREATE TABLE [AppErrorLog] (
    [ErrorID] INTEGER NOT NULL IDENTITY, 
    [OccurredAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    [RequestID] VARCHAR(64) NULL, 
    [Path] VARCHAR(500) NULL, 
    [Method] VARCHAR(16) NULL, 
    [StatusCode] INTEGER NULL, 
    [UserID] INTEGER NULL, 
    [ClientIP] VARCHAR(45) NULL, 
    [UserAgent] VARCHAR(255) NULL, 
    [Referer] VARCHAR(500) NULL, 
    [Message] TEXT NULL, 
    [StackTrace] TEXT NULL, 
    PRIMARY KEY ([ErrorID])
);

GO

CREATE INDEX [ix_AppErrorLog_OccurredAt] ON [AppErrorLog] ([OccurredAt]);

GO

CREATE INDEX [ix_AppErrorLog_RequestID] ON [AppErrorLog] ([RequestID]);

GO

UPDATE dbo.alembic_version SET version_num='20250903_0014' WHERE dbo.alembic_version.version_num = '20250903_0013';

GO

INFO  [alembic.runtime.migration] Running upgrade 20250903_0014 -> 20250905_0015a, add DeletedAt to FileMetadata
INFO  [alembic.runtime.migration] Running upgrade 20250903_0014 -> 20250905_0015a, add DeletedAt to FileMetadata
-- Running upgrade 20250903_0014 -> 20250905_0015a

ALTER TABLE [FileMetadata] ADD [DeletedAt] DATETIME NULL;

GO

UPDATE dbo.alembic_version SET version_num='20250905_0015a' WHERE dbo.alembic_version.version_num = '20250903_0014';

GO

INFO  [alembic.runtime.migration] Running upgrade 20250905_0015a -> 20250905_0015, Compatibility stub: superseded by 20250905_0015a_add_filemetadata_deleted_at.
INFO  [alembic.runtime.migration] Running upgrade 20250905_0015a -> 20250905_0015, Compatibility stub: superseded by 20250905_0015a_add_filemetadata_deleted_at.
-- Running upgrade 20250905_0015a -> 20250905_0015

UPDATE dbo.alembic_version SET version_num='20250905_0015' WHERE dbo.alembic_version.version_num = '20250905_0015a';

GO

INFO  [alembic.runtime.migration] Running upgrade 20250905_0015 -> 20250905_0016, Add ButtonGradientStyle and ButtonGradientDirection to EventCustomisation.
INFO  [alembic.runtime.migration] Running upgrade 20250905_0015 -> 20250905_0016, Add ButtonGradientStyle and ButtonGradientDirection to EventCustomisation.
-- Running upgrade 20250905_0015 -> 20250905_0016

ALTER TABLE dbo.[EventCustomisation] ADD [ButtonGradientStyle] VARCHAR(16) NULL;

GO

ALTER TABLE dbo.[EventCustomisation] ADD [ButtonGradientDirection] VARCHAR(16) NULL;

GO

UPDATE dbo.alembic_version SET version_num='20250905_0016' WHERE dbo.alembic_version.version_num = '20250905_0015';

GO

INFO  [alembic.runtime.migration] Running upgrade 20250905_0016 -> 20250908_0017, Add GuestMessage table (guestbook messages).
INFO  [alembic.runtime.migration] Running upgrade 20250905_0016 -> 20250908_0017, Add GuestMessage table (guestbook messages).
-- Running upgrade 20250905_0016 -> 20250908_0017

CREATE TABLE dbo.[GuestMessage] (
    [GuestMessageID] INTEGER NOT NULL IDENTITY, 
    [EventID] INTEGER NOT NULL, 
    [GuestSessionID] INTEGER NULL, 
    [DisplayName] VARCHAR(80) NULL, 
    [Message] VARCHAR(300) NOT NULL, 
    [CreatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    [Deleted] BIT NOT NULL DEFAULT 0, 
    PRIMARY KEY ([GuestMessageID]), 
    FOREIGN KEY([EventID]) REFERENCES [Event] ([EventID]), 
    FOREIGN KEY([GuestSessionID]) REFERENCES dbo.[GuestSession] ([GuestID])
);

GO

UPDATE dbo.alembic_version SET version_num='20250908_0017' WHERE dbo.alembic_version.version_num = '20250905_0016';

GO

INFO  [alembic.runtime.migration] Running upgrade 20250908_0017 -> 20250908_0018, Add AddonCatalog and EventAddonPurchase tables.
INFO  [alembic.runtime.migration] Running upgrade 20250908_0017 -> 20250908_0018, Add AddonCatalog and EventAddonPurchase tables.
-- Running upgrade 20250908_0017 -> 20250908_0018

CREATE TABLE dbo.[AddonCatalog] (
    [AddonID] INTEGER NOT NULL IDENTITY, 
    [Code] VARCHAR(50) NOT NULL, 
    [Name] VARCHAR(120) NOT NULL, 
    [Description] TEXT NULL, 
    [PriceCents] INTEGER NOT NULL DEFAULT 0, 
    [Currency] VARCHAR(8) NOT NULL DEFAULT 'gbp', 
    [AllowQuantity] BIT NOT NULL DEFAULT 0, 
    [MinQuantity] INTEGER NOT NULL DEFAULT 1, 
    [MaxQuantity] INTEGER NOT NULL DEFAULT 1, 
    [IsActive] BIT NOT NULL DEFAULT 1, 
    [CreatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    [UpdatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY ([AddonID]), 
    UNIQUE ([Code])
);

GO

CREATE TABLE dbo.[EventAddonPurchase] (
    [PurchaseID] INTEGER NOT NULL IDENTITY, 
    [UserID] INTEGER NOT NULL, 
    [EventID] INTEGER NULL, 
    [AddonID] INTEGER NOT NULL, 
    [Quantity] INTEGER NOT NULL DEFAULT 1, 
    [Amount] NUMERIC(10, 2) NOT NULL, 
    [Currency] VARCHAR(8) NOT NULL DEFAULT 'GBP', 
    [StripeSessionID] VARCHAR(255) NULL, 
    [StripePaymentIntentID] VARCHAR(255) NULL, 
    [Status] VARCHAR(32) NOT NULL DEFAULT 'pending', 
    [CreatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    [UpdatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY ([PurchaseID]), 
    FOREIGN KEY([UserID]) REFERENCES dbo.[Users] ([UserID]), 
    FOREIGN KEY([EventID]) REFERENCES [Event] ([EventID]), 
    FOREIGN KEY([AddonID]) REFERENCES dbo.[AddonCatalog] ([AddonID])
);

GO

UPDATE dbo.alembic_version SET version_num='20250908_0018' WHERE dbo.alembic_version.version_num = '20250908_0017';

GO

INFO  [alembic.runtime.migration] Running upgrade 20250908_0018 -> 20250910_add_plan_to_users, Alembic migration script to add 'plan' and 'plan_purchase_date' columns to Users table.
INFO  [alembic.runtime.migration] Running upgrade 20250908_0018 -> 20250910_add_plan_to_users, Alembic migration script to add 'plan' and 'plan_purchase_date' columns to Users table.
-- Running upgrade 20250908_0018 -> 20250910_add_plan_to_users

ALTER TABLE dbo.[Users] ADD [plan] VARCHAR(32) NOT NULL DEFAULT 'free';

GO

ALTER TABLE dbo.[Users] ADD plan_purchase_date DATETIME NULL;

GO

UPDATE dbo.alembic_version SET version_num='20250910_add_plan_to_users' WHERE dbo.alembic_version.version_num = '20250908_0018';

GO

INFO  [alembic.runtime.migration] Running upgrade 20250910_add_plan_to_users -> 20250911_0020_add_custom_event_type, Add CustomEventType table to record custom event type names per event.
INFO  [alembic.runtime.migration] Running upgrade 20250910_add_plan_to_users -> 20250911_0020_add_custom_event_type, Add CustomEventType table to record custom event type names per event.
-- Running upgrade 20250910_add_plan_to_users -> 20250911_0020_add_custom_event_type

CREATE TABLE dbo.[CustomEventType] (
    [CustomEventTypeID] INTEGER NOT NULL IDENTITY, 
    [EventID] INTEGER NOT NULL, 
    [EventTypeID] INTEGER NULL, 
    [CustomEventName] VARCHAR(255) NULL, 
    [CreatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    [UpdatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY ([CustomEventTypeID]), 
    FOREIGN KEY([EventID]) REFERENCES [Event] ([EventID]), 
    FOREIGN KEY([EventTypeID]) REFERENCES dbo.[EventType] ([EventTypeID])
);

GO

UPDATE dbo.alembic_version SET version_num='20250911_0020_add_custom_event_type' WHERE dbo.alembic_version.version_num = '20250910_add_plan_to_users';

GO

INFO  [alembic.runtime.migration] Running upgrade 20250911_0020_add_custom_event_type -> 20250911_0021_add_eventtask, Add EventTask table
INFO  [alembic.runtime.migration] Running upgrade 20250911_0020_add_custom_event_type -> 20250911_0021_add_eventtask, Add EventTask table
-- Running upgrade 20250911_0020_add_custom_event_type -> 20250911_0021_add_eventtask

CREATE TABLE [EventTask] (
    [EventTaskID] INTEGER NOT NULL IDENTITY, 
    [EventID] INTEGER NOT NULL, 
    [UserID] INTEGER NOT NULL, 
    [Key] VARCHAR(64) NOT NULL, 
    [State] VARCHAR(32) NOT NULL DEFAULT 'pending', 
    [CompletedAt] DATETIME NULL, 
    [CreatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    [UpdatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY ([EventTaskID])
);

GO

UPDATE dbo.alembic_version SET version_num='20250911_0021_add_eventtask' WHERE dbo.alembic_version.version_num = '20250911_0020_add_custom_event_type';

GO

INFO  [alembic.runtime.migration] Running upgrade 20250911_0021_add_eventtask -> 20250911_0022_add_theme_isactive, add Theme.IsActive column
INFO  [alembic.runtime.migration] Running upgrade 20250911_0021_add_eventtask -> 20250911_0022_add_theme_isactive, add Theme.IsActive column
-- Running upgrade 20250911_0021_add_eventtask -> 20250911_0022_add_theme_isactive

ALTER TABLE [Theme] ADD [IsActive] BIT NOT NULL DEFAULT 1;

GO

UPDATE dbo.alembic_version SET version_num='20250911_0022_add_theme_isactive' WHERE dbo.alembic_version.version_num = '20250911_0021_add_eventtask';

GO

INFO  [alembic.runtime.migration] Running upgrade 20250911_0022_add_theme_isactive -> 20250911_0023_merge_heads, merge heads 20250911_0021_add_eventtask and 20250911_0022_add_theme_isactive
INFO  [alembic.runtime.migration] Running upgrade 20250911_0022_add_theme_isactive -> 20250911_0023_merge_heads, merge heads 20250911_0021_add_eventtask and 20250911_0022_add_theme_isactive
-- Running upgrade 20250911_0022_add_theme_isactive -> 20250911_0023_merge_heads

UPDATE dbo.alembic_version SET version_num='20250911_0023_merge_heads' WHERE dbo.alembic_version.version_num = '20250911_0022_add_theme_isactive';

GO

INFO  [alembic.runtime.migration] Running upgrade 20250911_0023_merge_heads -> 20250912_0019, Add Album and AlbumPhoto tables.
INFO  [alembic.runtime.migration] Running upgrade 20250911_0023_merge_heads -> 20250912_0019, Add Album and AlbumPhoto tables.
-- Running upgrade 20250911_0023_merge_heads -> 20250912_0019

CREATE TABLE dbo.[Album] (
    [AlbumID] INTEGER NOT NULL IDENTITY, 
    [EventID] INTEGER NOT NULL, 
    [Name] VARCHAR(255) NOT NULL, 
    [Description] VARCHAR(1024) NULL, 
    [CreatedAt] DATETIME NULL DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY ([AlbumID]), 
    FOREIGN KEY([EventID]) REFERENCES [Event] ([EventID])
);

GO

CREATE TABLE dbo.[AlbumPhoto] (
    [AlbumPhotoID] INTEGER NOT NULL IDENTITY, 
    [AlbumID] INTEGER NOT NULL, 
    [FileID] INTEGER NOT NULL, 
    [Ordinal] INTEGER NULL, 
    PRIMARY KEY ([AlbumPhotoID]), 
    FOREIGN KEY([AlbumID]) REFERENCES [Album] ([AlbumID]), 
    FOREIGN KEY([FileID]) REFERENCES [FileMetadata] ([FileID])
);

GO

UPDATE dbo.alembic_version SET version_num='20250912_0019' WHERE dbo.alembic_version.version_num = '20250911_0023_merge_heads';

GO

INFO  [alembic.runtime.migration] Running upgrade 20250912_0019 -> 20250912_0020_merge_heads, Merge heads: reconcile existing branch and new albums migration.
INFO  [alembic.runtime.migration] Running upgrade 20250912_0019 -> 20250912_0020_merge_heads, Merge heads: reconcile existing branch and new albums migration.
-- Running upgrade 20250912_0019 -> 20250912_0020_merge_heads

UPDATE dbo.alembic_version SET version_num='20250912_0020_merge_heads' WHERE dbo.alembic_version.version_num = '20250912_0019';

GO

INFO  [alembic.runtime.migration] Running upgrade 20250912_0020_merge_heads -> 20250912_0022_merge_all_heads, Final merge of all current heads into a single head.
INFO  [alembic.runtime.migration] Running upgrade 20250912_0020_merge_heads -> 20250912_0022_merge_all_heads, Final merge of all current heads into a single head.
-- Running upgrade 20250912_0020_merge_heads -> 20250912_0022_merge_all_heads

UPDATE dbo.alembic_version SET version_num='20250912_0022_merge_all_heads' WHERE dbo.alembic_version.version_num = '20250912_0020_merge_heads';

GO

INFO  [alembic.runtime.migration] Running upgrade 20250912_0022_merge_all_heads -> 20250912_0024_final_merge, Final merge to unify all heads
INFO  [alembic.runtime.migration] Running upgrade 20250912_0022_merge_all_heads -> 20250912_0024_final_merge, Final merge to unify all heads
-- Running upgrade 20250912_0022_merge_all_heads -> 20250912_0024_final_merge

UPDATE dbo.alembic_version SET version_num='20250912_0024_final_merge' WHERE dbo.alembic_version.version_num = '20250912_0022_merge_all_heads';

GO

INFO  [alembic.runtime.migration] Running upgrade 20250911_0022_add_theme_isactive -> 20250912_0023_merge_11, Merge 20250911_0020 and 20250911_0022 to resolve overlap
INFO  [alembic.runtime.migration] Running upgrade 20250911_0022_add_theme_isactive -> 20250912_0023_merge_11, Merge 20250911_0020 and 20250911_0022 to resolve overlap
-- Running upgrade 20250911_0022_add_theme_isactive -> 20250912_0023_merge_11

INSERT INTO dbo.alembic_version (version_num) OUTPUT inserted.version_num VALUES ('20250912_0023_merge_11');

GO

INFO  [alembic.runtime.migration] Running upgrade 20250911_0021_add_eventtask -> 20250912_0021_merge_plan_revision, Normalize plan revision references and merge tiny inconsistency
INFO  [alembic.runtime.migration] Running upgrade 20250911_0021_add_eventtask -> 20250912_0021_merge_plan_revision, Normalize plan revision references and merge tiny inconsistency
-- Running upgrade 20250911_0021_add_eventtask -> 20250912_0021_merge_plan_revision

INSERT INTO dbo.alembic_version (version_num) OUTPUT inserted.version_num VALUES ('20250912_0021_merge_plan_revision');

GO

COMMIT;

GO

